.axel-main {
	margin: 8rem auto;
	padding: 0 2rem;

	&--index,
	&--category,
	&--search,
	&--author {
		display: grid;
		gap: 4rem;
		grid-template-columns: repeat(2, 1fr);
		max-width: 70rem;
	}

	&--page,
	&--single,
	&--e404 {
		margin-left: auto;
		margin-right: auto;
		width: 40rem;
	}
}