<div class="axel-credits">
	{{ __('Strona zaprojektowana i wykonana przez ', 'axel-twig') }}
	<a class="axel-credits__link" href="https://reddog.systems">
		{{ __('Reddog Systems', 'axel-twig') }}
	</a>
</div>