<form class="axel-searchform" method="get" action="{{ site.url }}">
	<label class="screen-reader-text" for="search">
    {{ __('Wyszukiwarka', 'axel') }}
  </label>
  <input type="search" id="search" name="s" autocomplete="on">
  <button type="submit">
    {{ __('Szukaj', 'axel') }}
  </button>
</form>