<form class="axel-search-form" method="get" action="{{ site.url }}">
	<label class="axel-search-form__label">
		<span class="screen-reader-text">
			{{ __('Wyszukiwarka', 'axel-twig') }}
		</span>
		<input class="axel-search-form__input" type="search" id="search" name="s" autocomplete="on" placeholder="{{ __('What are you looking for?', 'axel-twig') }}">
		<button class="axel-button axel-search-form__button" type="submit">
			{{ __('Szukaj', 'axel-twig') }}
		</button>
	</label>
</form>
