.axel-menu {
	@include flex(center, center);
	column-gap: 1rem;
	flex-wrap: wrap;
	list-style: none;

	&__item {
		position: relative;
	}

	&__has-children {
		&::after {
			content: "\2022";
			display: inline;
		}
	}

	&__link {
		padding: 1rem 0;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&--header {
	}

	&--footer {

	}
}