.axel-menu {
	list-style: none;
	text-align: center;

	&__item {
		display: inline-block;
		margin: 0 0.5rem;
		position: relative;
	}

	&__has-children {
		&::after {
			content: "\2022";
			display: inline;
		}
	}

	&__link {
		padding: 1rem 0;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&--header {
	}

	&--footer {

	}
}