.axel-submenu {
	display: none;
	position: relative;

	&--show {
		background-color: $white;
		border: 1px solid darken($silver, 5%);
		display: block;
		list-style: none;
		padding: 0.75rem 1rem 1rem;
		position: absolute;
		text-align: left;
		top: 2.25rem;
		white-space: nowrap;
		z-index: 9999;
	}

	&__link {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&--header {
	}

	&--footer {

	}
}