.axel-singular {
	&__header {
		margin-bottom: 4rem;
		text-align: center;
	}

	&__date,
	&__author {
		display: inline;
	}

	&__title {
		@extend %title;
		margin: 2rem 0;
	}

	&__thumbnail {
		display: block;
		margin: 4rem -15rem;

		img {
			display: block;
			line-height: 0;
		}
	}

	&__content {
		margin: 4rem 0;

		p {
			margin: 2rem 0;
		}
	}
}