<nav class="axel-nearbyposts">
	<ul class="axel-nearbyposts__list">

		{# Previous post #}
		{% if post.prev %}
			<li class="axel-nearbyposts__prev">
				<a class="axel-nearbyposts__link" href="{{ post.prev.link|e('esc_url') }}">
					{{ post.prev.title|e('esc_html') }}
				</a>
			</li>
		{% endif %}

		{# NNext post #}
		{% if post.next %}
			<li class="axel-nearbyposts__next">
				<a class="axel-nearbyposts__link" href="{{ post.next.link|e('esc_url') }}">
					{{ post.next.title|e('esc_html') }}
				</a>
			</li>
		{% endif %}

	</ul>
</nav>