{% include "templates/header.twig" %}

<div class="axel-wrapper">
	<main class="axel-main axel-main--category" id="axel-main" tabindex="-1">

		{# Title #}
		<div class="axel-category">
			<h1 class="axel-category__title">
				{{ category_title }}
			</h1>
		</div>
		
		{% include "template-parts/loops/loop-excerpt.twig" %}

	</main>

	{% include "templates/sidebar.twig" %}

</div>

{% include "templates/footer.twig" %}