{% include "templates/header.twig" %}

<div class="axel-wrapper axel-wrapper--2-columns">
	<main class="axel-category" id="main-content" tabindex="-1">

		{# Title #}
		<h1 class="axel-category__title">
			{{ category_title }}
		</h1>
		
		{% include "template-parts/loops/loop-excerpt.twig" %}

	</main>

	{% include "templates/sidebar.twig" %}

</div>

{% include "templates/footer.twig" %}