{% include "templates/header.twig" %}

<main class="axel-main axel-main--category" id="axel-main" tabindex="-1">

	<div class="axel-category">
		{# Title #}
		<h1 class="axel-category__title">
			{{ category_title }}
		</h1>
	</div>

	{% include "template-parts/loops/loop-excerpt.twig" %}

</main>

{% include "templates/sidebar.twig" %}
{% include "templates/footer.twig" %}