	<div class="axel-wrapper">
		<footer class="axel-footer">

			{% include "templates/footer/scroll-to-top.twig" %}
			{% include "templates/menus/footer-menu.twig" %}
			{% include "templates/footer/credits.twig" %}

		</footer>
	</div>

{{ function('wp_footer') }}
</body>

</html>