	<footer class="axel-footer">
		<div class="axel-wrapper">

			{% include "template-parts/footer/scroll-to-top.twig" %}
			{% include "template-parts/menus/footer-menu.twig" %}
			{% include "template-parts/footer/credits.twig" %}

		</div>
	</footer>

{{ function('wp_footer') }}
</body>

</html>