	<footer class="axel-footer">
		{% include "template-parts/footer/scroll-to-top.twig" %}
		{% include "template-parts/menus/footer-menu.twig" %}
		{% include "template-parts/footer/credits.twig" %}
	</footer>

{{ function('wp_footer') }}
</body>

</html>