{% include "templates/header.twig" %}

<div class="axel-wrapper">
	<main class="axel-main axel-main--index" id="axel-main" tabindex="-1">

		{% include "template-parts/loops/loop-excerpt.twig" %}

	</main>

	{% include "templates/sidebar.twig" %}

</div>

{% include "templates/footer.twig" %}