{% include "templates/header.twig" %}

<main class="axel-main axel-main--page" id="axel-main" tabindex="-1">	
	{% include "template-parts/page/page.twig" %}
</main>

{% include "templates/sidebar.twig" %}
{% include "templates/footer.twig" %}