{% include "templates/header.twig" %}

<div class="axel-wrapper axel-wrapper--2-columns">
	<main id="main-content" tabindex="-1">	

		{% include "templates/singular/page.twig" %}

	</main>

	{% include "templates/sidebar.twig" %}

</div>

{% include "templates/footer.twig" %}