{% include "templates/header.twig" %}

<main class="axel-main axel-main--search" id="axel-main" tabindex="-1">

	<div class="axel-search">
		{# Title with search phrase #}
		<h1 class="axel-search__title">
			{{ __('Wyniki wyszukiwania', 'axel') }}

			{# Search phrase #}
			<div class="axel-search__phrase">
				{{ __('dla frazy: ', 'axel') }}
				{{ search_query }}
			</div>
		</h1>
	</div>

	{% include "template-parts/loops/loop-excerpt.twig" %}

</main>

{% include "templates/sidebar.twig" %}
{% include "templates/footer.twig" %}